body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: plum;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    border: solid 2px goldenrod;
}

p {
    font-size: 25px;
    border: solid 1px deepskyblue;
}